<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Add</title>
</head>
<body>
    <form th:action="@{/prodadd}" th:object="${productdto}" method="post">
        <label>Product Description</label>
        <input type="text" th:field="*{description}" required>

        <label>Product Image</label>
        <input type="text" th:field="*{image}" required>

        <label>Product Price</label>
        <input type="number" th:field="*{price}" required>

        <label>Product Name</label>
        <input type="text" th:field="*{name}" required>

        <label>Product Weight</label>
        <input type="number" th:field="*{weight}" required>

        
        <button type="submit">Save</button>
    </form>
</body>
</html>
